:root{
    --orange-text: rgb(235, 167, 42);
    --background-color: rgb(42, 41, 44);
}

*{
    box-sizing: border-box;
}

html{
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color)
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--background-color);
}

.heading{
    font-size: 80px;
    font-family: "Audiowide";
    font-weight: bold;
    padding: 30px;
    padding-bottom: 0;
    color: var(--orange-text);
}
.play{
    border: 3px solid white;
    border-radius: 10px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 45px;
    background-color: var(--background-color);
    font-family: "Audiowide";
    color: rgb(72, 207, 72);
    font-weight: bold;
    transition: all ease-in-out 0.12s;
}

.play:hover{
    color: rgb(82, 255, 82);
    cursor: pointer;
    background-color: rgb(34, 34, 34);
    font-size: 50px;
}

.play:active{
    border: none;
    outline: none;
}

.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 200px;
    height: 200px;
}

.board > button{
    width: 100%;
    height: 100%;
}

.footer{
    font-family: "Audiowide";
    font-size: 18px;
    padding: 5px;
    padding-top: 110px;
}

a{
    color: var(--orange-text);
}

a:hover{
    color: white;
}